body { font-family: 'Helvetica Neue,Helvetica,sans-serif'; }
	p { line-height: 2.5em; }
	#contenido {
		width: 80%;
		text-align: justify;
		margin-left: auto;
		margin-right: auto;
	}
	#contenido h3 { text-decoration: underline; }
	.subtitulo {
		color: red;
		font-style: italic;
		font-size: 1.2em;
	}
	.centrado { text-align: center; }